psycopg2-binary>=2.9.7
requests>=2.31.0
python-dotenv>=1.0.0
discord.py==2.3.2
self~=2020.12.3
PyGithub>=1.59.1
demoji>=1.1.0
pytz>=2023.3
openai==1.16.2
Pillow==10.0.0
numpy>=1.25.2
Flask>=2.3.2
discord==2.3.2
langchain==0.0.268
stability-sdk