psycopg2-binary>=2.9.9
requests>=2.32.3
python-dotenv>=1.0.1
discord.py>=2.4.0
self~=2020.12.3
PyGithub>=2.4.0
demoji>=1.1.0
pytz>=2024.2
openai>=1.16.2
Pillow==10.3.0
numpy>=1.25.2
Flask>=2.3.2
discord>=2.3.2
langchain==0.1.14
stability-sdk
aiohttp>=3.10.10